
/**
* ! Page CHUONGTRINH(tintuc, slideshow)
**/
a{ text-decoration: none;}
.description, .chay-title, .uudai-title{ margin: 0 10px;}
.chuongtrinh-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 50px;
}
/**
* !tintuc-container
**/
.tintuc-container{
    margin:auto;
    display: flex;
    max-width: 960px;
    width: 100%;
    gap:22px;
}
.megaweek-container{ 
    flex:65%;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.2), 0px 1px 3px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.mage-img{ width:100%; height: auto;}
.uudai, .chay{color:black}
.description{color:rgb(90, 90, 90);}
.uudai-title, .chay-title{padding-top: 20px;}
.btn-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px auto;
    border:none;
    background-color: rgb(0, 185, 40);
    /* background-color: #e63946; */
    padding: 6px 16px;
    border-radius: 4px;
}

.green-container{
    display: flex;
    flex-direction: column;
    max-height: 350px;
    flex:30%;
    width:100%;
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2), 0px 1px 3px 0 rgba(0,0,0,0.2);
}
.green-img{ width:100%; height: auto;}
.chay-title{font-size: 18px;}

@media (max-width: 767px) {
    .tintuc-container{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .green-container{
        max-height: fit-content;
    }
}

/**
* ! slide show container( slideshow-item( img-item-slide, description-item))
**/
.slide-container{
    max-width: 960px;
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2), 0px 1px 3px 0 rgba(0,0,0,0.2);
}
.slide-content{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-img-item{
    flex:30%; 
    background-color: darkslategray; 
}
.img-item{ 
    width:100%;
    transition: 8s linear;
}
.img-item:hover{
    transform: scale(1.3);
}
.description-item{ padding: 8px; flex:60%;}
.best-choice{ display: flex; margin: 10px auto;}
.h2-title{ font-size: 24px;}
.btn-container{
    gap:10px;
}
.btn-giam{
    background-color: rgba(5, 79, 102, 0.719);
    padding:5px 15px;
    color:white;
}
.btn-giam:hover{
    background-color: white;
    color:rgba(5, 79, 102);
    font-size: 19px;
    font-weight: bold;
    padding: 3px;
}
@media (max-width: 767px) {
    .slide-content{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .img-item{
        width:95%;
    }
    .btn-container{
        display: flex;
        flex-direction: column;
    }
    .btn-container > a > button {
        width: 100%;
    }
}