:root{
    --main-background-color: #00AA00;
    --main-color: white;
}
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.text-color {
    color: var(--main-color);
}
header {
    background-color: var(--main-background-color);
}
.header-wrapper {
    display: flex;
}
.logo-image {
    width: 64px;
}
.wrapper-logo {
    justify-items: center;
}
.fa-search, .fa-shopping-cart {
    font-size: 24px;
}
.tag-partition {
    width: 1%;
    padding: 0;
    background-color: var(--main-color);
    opacity: 0.4;
}
.login a {
    text-align: center;
    text-decoration: none;
}
.log-in {
    width: 40%;
}
.sign-in {
    width: 32%;
}
.bar-search {
    border: 2px solid var(--main-color);
}
.input-search {
    border: none;
}
.menu-nav {
    list-style-type: none;
    font-size: 24px;
    font-weight: 500;
}
.menu-nav a {
    text-decoration: none;
}
.nav-section {
    --h: 51.2px;
    height: var(--h);
    line-height: var(--h);
}
.shopping-button {
    font-size: 60px;
}
.wrapper-shopping-button {
    padding: 25px 0;
}
.wrapper-logo {
    padding-left: 36px;
}